{% extends "semifinals/base.html" %}

{% block base_extra_head %}
{% endblock %}

{% block content %}

<div class="container">

    <center><p><a class="btn" href="{% url 'social:begin' 'prologin' %}?next={{ request.GET.next }}">Se connecter avec Prologin</a></p></center>

    {% if not settings.APP_NO_LOCAL_LOGIN %}
        {% if form.errors %}
            <p>Nom d'utilisateur ou mot de passe incorrect.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>Niveau d'accréditation insuffisant, contactez un admininstrateur.</p>
            {% else %}
                <p>Veuillez vous connecter pour voir cette page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td><input type="text" name="username" required autofocus="on" placeholder="Identifiant"></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" required placeholder="Mot de passe"></td>
                </tr>
            </table>

            <input class="btn" type="submit" value="Connexion">
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    {% endif %}
</div>

{% endblock %}
