{% extends "semifinals/base.html" %}

{% block base_extra_head %}
{% endblock %}

{% block content %}

<div class="container">
    {% if form.errors %}
        <div class="alert alert-danger">Nom d'utilisateur ou mot de passe incorrect.</div>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="alert alert-secondary">Niveau d'accréditation insuffisant, contactez un admininstrateur.</div>
        {% else %}
            <div class="alert alert-secondary">Veuillez vous connecter pour voir cette page.</div>
        {% endif %}
    {% endif %}

    <center><p><a class="btn" href="{% url 'social:begin' 'prologin' %}?next={{ request.GET.next }}">Se connecter avec Prologin</a></p></center>

    {% if not settings.APP_NO_LOCAL_LOGIN %}
        <center><p>OU</p></center>

        <form method="post" action="">
            {% csrf_token %}
            <center>
            <table>
                <tr>
                    <td><input type="text" name="username" required autofocus="on" placeholder="Identifiant"></td>
                </tr>
                <tr>
                    <td><input type="password" name="password" required placeholder="Mot de passe"></td>
                </tr>
            </table>

            <input class="btn" type="submit" value="Connexion">
            <input type="hidden" name="next" value="{{ next }}">
            </center>
        </form>
    {% endif %}
</div>

{% endblock %}
