{% extends "semifinals/base.html" %}
{% load static semifinals_status %}

{% block base_extra_head %}
<title>{{ object.display_name }}</title>
<link rel="stylesheet" href="{% static 'semifinals/css/sessions.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <small class="return-button"><a href="{% url 'semifinals:session-list' %}">&lt; &nbsp; Retour à la liste des convocations</a></small>
    <h1 class="small-bottom-margin trb">{{ object.display_name }}</h1>
    <small class="session-unique-id">{{ object.id }}</small>

    <h3 style="color: {% session_status_color object.status %};">{% session_status object.status %}</h2>

    <p><i class="las la-clock big-icon"></i> Début <b>{{ object.date_start | date:"d F Y"}} à {{ object.date_start | date:"H:i:s"}}</b></p>
    <p><i class="las la-clock big-icon"></i> Fin <b>{{ object.date_end | date:"d F Y"}} à {{ object.date_end | date:"H:i:s"}}</b></p>

    <h2>Sujet et instructions</h2>

    <section id="subject-and-instructions">
        {% if object.status == 2 %}
        <p>{{ object.contestant_instructions | linebreaks | urlize }}</p>
            {% if object.subject %}
                <a href="{% url 'semifinals:download-subject' object.id %}" target="_blank" class="btn btn-secondary btn-block">TELECHARGER LE SUJET</a>
            {% endif %}
        {% else %}
        <h4>L'épreuve est fermée, vous ne pouvez plus accéder au sujet.</h4>
        {% endif %}
    </section>

    {% if object.form %}
        <h2>Formulaire de réponse</h2>
        {% if object.status == 2 %}
            <p>Cette épreuve comporte un formulaire de réponse, lisez les instructions et le sujet pour plus de détails.</p>
            <a href="{% url 'written_exams:form-questions' object.id %}" class="btn btn-block">OUVRIR LE FORMULAIRE DE RÉPONSE</a>
        {% else %}
            <p><b>L'épreuve est fermée, vous ne pouvez plus remplir le questionnaire.</b></p>
            {% if form_user_answers %}
                <div class="alert alert-success">Info: votre dernier rendu date du <b>{{ form_user_answers.last_updated | date:'d F Y à H:i:s' }}</b></div>
                {% if object.form_allow_review %}
                    <p><em>La relecture est autorisée pour cette épreuve, vous pouvez accéder à vos réponses en cliquant <a href="{% url 'written_exams:form-review' object.id %}">ici</a>.</em></p>
                {% endif %}
            {% else %}
                <div class="alert alert-warning">Info: vous n'avez jamais sauvegardé le formulaire de réponse.</div>
            {% endif %}
        {% endif %}
    {% endif %}

    {% if object.file_upload %}
        {% include 'written_exams/submission.html' %}
    {% endif %}
</div>

{% endblock %}
