@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap');

:root {
    --max-body-size: 900px;
    --color-primary: #3F51B5;
    --color-warning: #e29200;
    --color-success: #28A745;
    --color-danger: #DC3545;
    --color-secondary: #6d6d6d;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(253, 253, 253);
    font-family: 'IBM Plex Sans', sans-serif;
    vertical-align: middle;
}

h1 {
    font-weight: 700;
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
    font-weight: 700;
}

h3 {
    font-size: 1.8em;
}

h3, h4, h5, h6 {
    margin: 0.3em 0 0.3em;
}

.prologin-title {
    font-weight: 400;
    font-size: 2.3em;
    padding-left: 10px;
}

.banner {
    background-color: #35479A;
    color: whitesmoke;
}

.banner-content {
    margin: 0 auto 50px;
    max-width: var(--max-body-size);
    padding: 10px 20px;
    display: flex;
}

.container {
    margin: 0 auto;
    max-width: var(--max-body-size);
    padding: 0 20px;
}

.btn {
    background-color: var(--color-primary);
    color: whitesmoke;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 8px;
    margin: 10px 3px;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 0.2em;
    border: none;
    outline: none;
    font-size: 1em;
    font-family: 'IBM Plex Sans', sans-serif;
    cursor: pointer;
    text-align: center;
}

.btn-block {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.btn-nobo {
    color: white;
    margin: 0;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
}

.btn-warning {
    background-color: var(--color-warning);
}

.btn-success {
    background-color: var(--color-success);
}

.btn-danger {
    background-color: var(--color-danger);
}

.btn-secondary {
    background-color:var(--color-secondary);
}

.small-bottom-margin {
    margin-bottom: 3px;
}

i {
    font-size: 25px;
    vertical-align: middle;
}

i.big-icon {
    font-size: 32px;
}

fieldset {
    border-color: black;
}

.text-center {
    text-align: center;
}

.trb {
    margin-top: 2px;
}

.return-button > a {
    color: rgb(78, 78, 78);
    text-decoration: none;
}

/* Text colors helpers */

.color-primary {
    color: var(--color-primary);
}

.color-success {
    color: var(--color-success);
}

.color-warning {
    color: var(--color-warning);
}

.color-danger {
    color: var(--color-danger);
}

/* Alerts */

.alert {
    display: block;
    width: auto;
    padding: 1.5em;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
}

.alert-success {
    background-color: var(--color-success);
}

.alert-primary {
    background-color: var(--color-primary);
}

.alert-danger {
    background-color: var(--color-danger);
}

.alert-secondary {
    background-color: var(--color-secondary);
}

.alert-warning {
    background-color: var(--color-warning);
}

/* Inputs styling */
form ul {
    list-style-type: none;
    margin-left: 0;
}

form ul li:first-child {
    padding-top: 0.5em;
}

form ul li {
    padding-bottom: 0.5em;
}

input[type="text"], input[type="number"], textarea {
    display: block;
    border: 0.1em solid black;
    padding: 10px 10px;
    width: 100%;
}

input:focus, textarea {
    outline: none;
}

textarea {
    resize: vertical;
}

p.question {
    font-size: 1.2em;
}

span.help-text {
    color:rgb(78, 78, 78);
    font-size: 0.8em;
}

.form-element {
    margin-bottom: 2em;
    padding-left: 1em;
    border-left: 0.3em solid rgb(78, 78, 78, 0.2);
    padding-right: 1em;
}

.form-element-error {
    border-color: var(--color-danger);
}

.align-right {
    text-align: right;
}

/* prologin windows xp look and feel */

.window-title-bar {
    font-family: sans-serif;
    display: block;
    background: rgb(21,32,122);
    background: linear-gradient(90deg, rgba(21,32,122,1) 0%, rgba(42,50,124,1) 22%, rgba(77,83,138,1) 58%, rgba(106,110,153,1) 100%);
    padding: 0.3em 0.4em 0.3em;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin: 0;
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.151);
}

.window-title {
    color: white;
    font-size: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.window-title > img {
    vertical-align: middle;
}

.window-title-icons {
    display: flex;
    flex-direction: row;
}

.windows-button {
    background-color: #D3D0C6;
    outline: none;
    font-size: 1em;
    font-weight: normal;
    font-family: sans-serif;
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 0.3em;
    margin: 0.1em;
    outline: 0.1em  black;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(236, 235, 229, 1) 86%,
        rgba(216, 208, 196, 1) 100%
    );
}

.windows-button:hover {
    background: linear-gradient(
        180deg,
        rgba(205, 202, 195, 1) 0%,
        rgba(227, 227, 219, 1) 8%,
        rgba(229, 229, 222, 1) 94%,
        rgba(242, 242, 241, 1) 100%
    );
    box-shadow: inset -1px 1px #fff0cf, inset 1px 2px #fdd889, inset -2px 2px #fbc761, inset 2px -2px #e5a01a;
}

.window-title-icons > button {
    font-size: 0.8em;
    width: 2em;
    font-weight: bolder;
    height: 2em;
}

/* prologin-windows-theme */
.window:first-child {
    margin-top: 0;
}

.window {
    margin-top: 1.5em;
}

.window-body {
    background-color: #D3D0C6;
    padding: 1em 2em 1em;
    display: block;
}

.window-body p {
    margin: 0.2em 0 0.2em;
}
