{% extends 'semifinals/base.html' %}
{% load static %}


{% block base_extra_head %}
{% if staff %}
<title>Réponses de {{ user_answer.user.first_name }} {{ user_answer.user.last_name }} à {{ form_instance }}</title>
{% else %}
<title>Questionnaire {{ exam_session }}</title>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    {% if not staff %}
    <small class="return-button"><a href="{% url 'semifinals:session-details' exam_session.id %}">&lt;&nbsp; Retour à l'épreuve</a></small>
    <h1 class="trb">{{ exam_session }} (Relecture)</h1>
    {% else %}
    <small class="return-button"><a href="{% url 'written_exams:form-answers-list' form_instance.id %}">&lt;&nbsp; Retour à l'espace réponses</a></small>
    <h1 class="trb">{{ form_instance }}</h1>
    {% endif %}

    {% if user_answer.last_updated %}
        <div class="alert alert-secondary"><i class="las la-user-clock"></i>&nbsp; Dernier rendu du formulaire <b>{{ user_answer.last_updated | date:'d F Y à H:i:s' }}</b></div>
    {% else %}
        <div class="alert alert-secondary"><i class="las la-user-clock"></i>&nbsp; <b>Vous n'avez pas rendu ce formulaire</b></div>
    {% endif %}


    {% if staff %}
    <h2>Réponses de {{ user_answer.user.first_name }} {{ user_answer.user.last_name }}</h2>
    {% else %}
    <h2>Vos réponses</h2>
    {% endif %}
    <div class="alert alert-primary">Ce questionnaire est en lecture seule.</div>
    <form action="#" method="GET">
        {% include 'written_exams/form-stub.html' with form=form %}
    </form>
</div>
{% endblock %}

{% block extra_body %}
<script>
    document.querySelectorAll('input, textarea, select').forEach(e => { e.setAttribute("disabled", "true"); });
</script>
{% endblock %}
