{% extends 'semifinals/base.html' %}
{% load static %}


{% block base_extra_head %}
<title>Test du formulaire {{ form_instance }}</title>
<meta name="notif-changed-element" value="not-saved-alert">
{% endblock %}

{% block content %}
<div class="container">
    <small class="return-button"><a href="{% url 'written_exams:form-testing-list' %}">&lt;&nbsp; Retour à la liste des instances</a></small>
    <h1 class="trb">Test du formulaire : {{ form_instance }}</h1>
    <div class="alert alert-warning"><i class="las la-flask"></i>&nbsp;Ceci est une version de test du formulaire, vos réponses ne sont pas enregistrées.</div>

    {% if extracted_form.introduction %}
        <p>{{ extracted_form.introduction | linebreaks | urlize }}</p>
    {% endif %}

    <h2>Vos réponses</h2>
    <div style="display: none;" class="alert alert-warning" id="not-saved-alert"><i class="las la-exclamation-triangle"></i>&nbsp; Attention : vos réponses au questionnaire ne sont pas sauvegardées. Pensez bien à cliquer sur sauvegarder même si vous n'avez pas encore tout complété.</div>
    <form action="" method="POST">
        {% csrf_token %}
        {% include 'written_exams/form-stub.html' with form=form %}
        <br>
        <button class="btn btn-block btn-success">SAUVEGARDER</button>
    </form>
</div>
{% endblock %}

{% block extra_body %}
<script src="{% static 'se_forms/js/fieldchangewatcher.js' %}" type="application/javascript"></script>
{% endblock %}
